.sources/
dist/
.build/
node_modules/
**/node_modules/
**/etlegacy/
**/quakejs/
**/runtime/etmain/pak*.pk3
**/runtime/etmain/mp_bin.pk3
**/*.wasm
**/client/*.js
!**/web/client/.gitkeep
games/rtcw/omni-bot/global_scripts/
games/rtcw/omni-bot/native/
games/rtcw/omni-bot/rtcw/nav/
games/rtcw/omni-bot/rtcw/scripts/
games/rtcw/omni-bot/rtcw/user/
games/rtcw/omni-bot/omnibot_rtcw.x86_64.so
