.git
.audit
.work
.data
data
*.log
node_modules
vendor/source-engine
build
web/source-engine.js
web/source-engine.wasm
web/source-engine.wasm.map
web/source-engine.worker.js
web/wasm-game-files.json
*.vpk
*.VPK
*.bsp
*.vtf
*.vcs
*.dll
*.exe
*.so
*.dylib
*.asi
