build/
build-web/
vendor/
.work/
.local/
web/dist/
*.rom
*.nes
*.fds
*.unf
*.unif
*.sfc
*.smc
*.fig
*.swc
*.bin
*.cue
*.img
*.iso
*.chd
*.m3u
*.pbp
*.ccd
*.sub
*.mdf
*.nrg
*.elf
*.mcd
*.srm
*.sav
*.state*
